.menu-bg {
    background-image: linear-gradient(to bottom, #264d54 0%, #1b1d22);
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.menu-container {
  max-width: 1200px;
  margin: auto;
  padding: 30px 20px;
}

.menu-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: #e3a43e;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
}

.menu-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  cursor: pointer;
}

.menu-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 6px 18px rgba(243, 215, 3, 0.7);
  border: 3px solid #e3a43e;
  border-radius: 18px;
  margin: -15px;
}

.menu-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.menu-name {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  margin-left: 15px;
  font-family: "Poppins", sans-serif;
}

.menu-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 0 15px 15px;
}

.menu-details {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-btn {
  background-color: #e3a43e;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 38px;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.menu-btn:hover {
  box-shadow: 0px 0px 7px 5px rgba(243, 215, 3, 0.7);
  background-color: black;
}

.menu-cost {
  font-weight: 600;
  margin: 0px;
}

.menu-rating {
  font-weight: 600;
  margin: 0px;
  margin-bottom: 5px;
}

.tag {
  padding: 4px 5px;
  color: #ff9900;
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.tag-filter-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 35px;
  transition: all 0.5s ease-out;
}


.tag-select {
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  background: #e3a43e;
  cursor: pointer;
  color: white;
  width: 200px;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

