.notfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #333333;
}

.notfound-h {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 50px;
    font-style: italic;
    color: #fcac2b;
    margin-bottom: 0px;
}

.notfound-p {
    font-size: 18px;
}

.notfound-img {
    width: 350px;
    margin-bottom: 20px;
}