.about-bg {
    background-image: linear-gradient(to bottom, #264d54 0%, #1b1d22);
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.about-heading {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 50px;
    font-style: italic;
    color: rgb(252, 172, 43);
    margin-bottom: 0px; 
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-img {
    width: 750px;
}

.about-info {
    color: white;
    padding: 75px;
    line-height: 1.6;
}

.about-content1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 50px;
}

.about-subcontent {
    width: 600px;
}

.about-subheading {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 40px;
    font-style: italic;
    color: rgb(252, 172, 43);
    margin-bottom: 0px;
    text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0);
}

.about-subinfo {
    color: white;
    font-size: 15px;
    line-height: 1.6;
}

.about-devimg {
    width: 350px;
}