.header-bg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 150px;
}

.logo-heading {
    font-family: sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    color: rgb(238, 237, 237);
}

.header-links {
    display: flex;
    padding: 0px;
    gap: 40px;
}

li {
    list-style: none;
}

.active-link {
    font-family: sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.active-link:hover,
.active-link:focus {
  color: #fffefe;
}

.header-list {
    font-family: sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    text-decoration: none;
    color: rgb(137, 135, 135);
    transition: all 0.5s ease-out;
}

.header-list:hover,
.header-list:focus {
  color: rgb(223, 218, 218);
}

.header-btns {
    display: flex;
    gap: 38px;
}

.contact-btn {
    font-family: sans-serif;
    font-weight: 300;
    font-style: SemiBold;
    font-size: 15px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.contact-btn:hover {
    background: #e3a43e;
    box-shadow: 0px 15px 12px -10px rgba(0, 0, 0, 0.5);
    border-radius: 320px;
    border: none;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.order-btn {
    background: #e3a43e;
    box-shadow: 0px 15px 12px -10px rgba(0, 0, 0, 0.5);
    border-radius: 320px;
    border: none;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    cursor: pointer;

    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
}